<div class="perfection">
  <img class="steam" src="/steam.jpg" alt="steaming coffee" />
  <p class="roasted">ROASTED TO <br/> PERFECTION</p>
</div>
<div class="ingredients">
  <div class="coffee">
    <p>Coffee</p>
    <p>Our arabica beans come from Fair Trade farms. Every cup helps us all.</p>
  </div>
  <div class="care">
    <p>Care</p>
    <p>Love for our craft and our customers is the driving force behind Ploxey's</p>
  </div>
  <div class="community">
    <p>Community</p>
    <p>We welcome you to our home and our hearts.</p>
  </div>
</div>
