.perfection {
  background-color: black;
}
body {
  background-color: white;
}
.steam {
  background-color: black;
  float: right;
  // margin-left: -10px;
  padding-left: 525px;
  margin-right: -10px;
}

.roasted {
  color: white;
  font-size: 100px;
  font-family: 'Montserrat', serif;
  position: absolute;
  top: 130px;
  left: 150px;
  width: 100%;
}
