body {
  background-color: white;
}
.steam {
  background-color: black;
  float: right;
  padding-left: 533px;
  margin-right: -8px;
  // width: 65%
}

.roasted {
  color: white;
  font-size: 100px;
  font-family: 'Montserrat', serif;
  position: absolute;
  top: 6.7vw;
  left: 6vw;
}
