nav {
  color: white;
  background-color: black;
  margin: -16px -8px 0px;
}

#title {
  margin: 15px 0px;
  padding-left: 10px;
  padding-bottom: 2px;
  font-size: 40px;
  font-family: 'Aladin', cursive;
}
