<!DOCTYPE html>
<html>
  <head>
    <title>Ploxey's Coffee Co</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Aladin|Lato|Montserrat:700" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul >
        <li><a href='/' id='title'> Ploxey's Coffee Co </a></li>
        <li><a href='/menu' class="navlinks"> Menu </a></li>
        <li><a href='/about' class="navlinks"> About </a></li>
        <li><a href='/contact' class="navlinks"> Contact </a></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <a href='/menu' class="footlinks"> Menu</a>
      <a href='/about' class="footlinks"> About</a>
      <a href='/contact' class="footlinks"> Contact </a>
      <p> 2017 | Cartwright Foreman </p>
    </footer>
  </body>
</html>
